extends layout

block content
  h1= title
  p Welcome to #{title}
  .w3-container
            h1 Lista de Tipologias
            table.w3-table-all
                tr
                    th Estado
                    th Sigla
                    th Designação
                    th Informação Tipologia
                each t in lista
                    tr
                        td= t.estado
                        td= t.sigla
                        td= t.designacao
                        td
                            a(href="/tipologias/" + t.id + "/") #{t.id}